.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.github-issue-item {
  display: flex;
  flex-direction: row;
}

.this-should-be-link {
  cursor: pointer;
}
.this-should-be-link:hover {
  text-decoration: underline;
}

.no-margin {
  margin: 0px;
}
.issue-stat {
  font-size: 12px;
}
.issue-stat-open {
  font-weight: 600;
  color: green;
  font-size: 16px;
}
.issue-stat-closed {
  font-weight: 600;
  color: red;
  font-size: 16px;
}

label {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
}

p {
  margin: 5px;
  text-align: left;
}
